.auctionBoxes {
  width: 100%;
  margin-top: 0;
  margin: 0 auto;
  text-align: center;
  padding: 0 25px;
  flex-wrap: wrap;
  flex-direction: row;  
  background-color: white;
  margin-bottom: 300px;
}

